:root {
  }

.container{
  display: flex;
  justify-content: space-between;
}

#main{
    width: var(--dim);
    height: var(--dim);
    border: solid red;
    display: flex;
    flex-flow: wrap;
}

#main div{
    width: var(--divDim);
    height: var(--divDim);
    font-size: 0;
    }



.btnActive{
  background-color: grey;
}

.squareHover{
  background-color: var(--color);
}
