:root {
  }

#main{
    width: var(--dim);
    height: var(--dim);
    border: solid red;
    display: flex;
    flex-flow: wrap;
}

#main div{
    width: var(--divDim);
    height: var(--divDim);
    font-size: 0;
    }
#main div:hover{
  background-color: black;
}